#app {
    width: 100px;
    text-align: center;
    background-color: beige;
    border:2px;
}
body {
    position:fixed;
    display: contents;
}

input[type="text"] {
    width: 200px;
    border:0;
    color:rgb(226, 154, 154);
    font-size: 25px;
    padding:5px 5px;
    text-align: right;
}

.main {
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    width: 200px;
}

.cell {
    flex: 25%;
    height: 50px;
    font-size: 20px;
    border: none;
}

.num {
    background-color: rgb(226, 154, 154);
    color:aliceblue;
    font-weight: 400px;
}

.cell:hover {
    background-color: rgb(158, 103, 103);
}

.op {
    background-color: rgb(226, 154, 154);
    color:black;
}

