<!DOCTYPE html>
<html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=divice-width, initial-scale=1.0">
            <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
            <link rel="stylesheet" href="style.css">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <title>Калькулятор</title>
        </head>
        <body align="center">
            <div id="app">
            <div class="main">
                <input type="text" v-model="result" placeholder="0">
                <button v-on:click="input(num)" class="cell num" v-for="num in numbers"> {{ num }} </button>
                <button v-on:click="input(op)" class="cell op" v-for="op in operating">{{op}}</button>
                <button v-on:click="reset()" class="cell op">C</button>
                <button v-on:click="calculator()" class="cell op">=</button>
            </div>
            </div>
        </body> 
        <script>
            let vue = new Vue({
                el: '#app',
                data:{
                  result: '',
                  numbers: [1,2,3,4,5,6,7,8,9,0],
                  operating: ['+','-','*','/'],
            },
            methods: {
              input: function(char) {
              this.result = this.result.toString()
              this.result+=char;
            },
              reset: function() {
              this.result = '';
              },
              calculator: function() {
              this.result = eval(this.result);
              }
            }
            })
        </script>
</html>